
.sign-up{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height:100vh
  
}
.user{
  height:20px;
  font-weight: 500;
  font-size: large;
  
}
.pwd{
  height:20px;
  font-weight: 500;
  font-size: large;
}



